@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/space-mono-v17-latin-700.woff2") format("woff2");
}

@layer {
  :root {
    --green-400: hsl(172, 67%, 45%);
    --green-900: hsl(183, 100%, 15%);
    --grey-500: hsl(186, 14%, 43%);
    --grey-400: hsl(184, 14%, 56%);
    --grey-200: hsl(185, 41%, 84%);
    --grey-50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);

    --scale-px: clamp(0px, (100vw - 375px) / (1440 - 375), 1px);
    --font-size: calc(18px + 6 * var(--scale-px));
    --line-height: 1.3;
    --font-family: "Space Mono", Arial, Helvetica, sans-serif;

    --outline-green: 0.125em solid var(--green-400);
    --outline-red: 0.125em solid red;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-weight: 700;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: "Space Mono", Arial, Helvetica, sans-serif;
    background-color: var(--grey-200);
  }

  header {
    margin-block: 2em;
    text-align: center;
  }

  main {
    flex: 1;
    padding: 1em 1.5em;
    border-radius: 1em 1em 0 0;
    background-color: var(--white);
  }

  input[type="text"] {
    outline: none;
    border: none;
    border-radius: 0.25em;
    font: inherit;
    width: 100%;
    height: 100%;
    background-color: var(--grey-50);
    color: var(--grey-400);

    &:valid:focus {
      outline: var(--outline-green);
    }

    &:invalid {
      outline: var(--outline-red);
    }
  }

  fieldset {
    margin-block: 1em;
    border: none;

    &:has(input[name="tip"]) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5em;
    }
  }

  legend {
    color: var(--green-900);
  }

  label:has(input) {
    position: relative;
    padding: 0.25em;
    width: 100%;
    border-radius: 0.25em;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &:has(input[name="tip"]) {
      background-color: var(--green-900);
      color: var(--white);

      input {
        position: absolute;
        opacity: 0;
      }
    }

    &:has(input[name="custom-tip"]) {
      background-color: transparent;
      color: transparent;

      input {
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
      }
    }

    &:has(input:checked) {
      background-color: var(--green-400);
      color: var(--green-900);
    }

    &:has(input:focus) {
      outline: var(--outline-green);
    }
  }

  div:has(label + input) {
    position: relative;

    label {
      position: absolute;
      top: 50%;
      left: 0.5em;
      transform: translateY(-50%);
    }

    input {
      padding: 0.25em 0.5em;
      text-align: end;
    }
  }

  section[aria-label="result"] {
    padding: 1em;
    border-radius: 1em;
    font-size: 0.875em;
    background-color: var(--green-900);

    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block: 1em;
      color: var(--white);
    }

    strong {
      color: var(--green-400);
      font-size: 2em;
    }

    small {
      color: var(--grey-400);
    }

    button {
      margin-block-start: 1em;
      padding: 0.5em;
      width: 100%;
      border: none;
      border-radius: 0.25em;
      font: inherit;
      font-size: 1.25em;
      background-color: var(--green-400);
      color: var(--green-900);
    }
  }
}
